/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	box-sizing: border-box;
	font-size: 14px;
	font-family:Helvetica,Arial,Microsoft YaHei,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	// border-spacing: 0;
}
a{
	text-decoration:none;
}


/* 商品页面 */
#contentBox{
    height: 6000px;
    .content{
        width: 1000px;
        height: 6000px;
        background: skyblue;
        margin: 0 auto;
        .content-top{
            width: 1000px;
            height: 35px;
            padding: 12px 0;
            font-size: 12px;
            color: #bfbfbf;
            >a{
                color: #bfbfbf;
            }
            .active{
                color: #666;
            }
        }
        .content-bottom{
            width: 1000px;
            height: 765px;
            background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            .cbLeft{
                width: 800px;
                height: 765px;
                background: gold;
                .goods-msg{
                    width: 800px;
                    height: 445px;
                    
                    .msg-left{
                        width: 350px;
                        height: 445px;
                        float: left;
                        position: relative;
                        #small{
                            width: 350px;
                            height: 350px;
                            position: absolute;
                            .pic{
                                // position: relative;
                                img{
                                    width: 350px;
                                    height: 350px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                
                            }
                            #mark{
                                width: 175px;
                                height: 175px;
                                background: #000;
                                opacity:0.5;
                                filter: (opacity = 50);
                                position: absolute;
                                left: 0;
                                top: 0;
                                display: none;
                            }
                        }
                        .btn{
                            position: absolute;
                            bottom:0px;
                            // right: 290px;
                            
                            ul{
                                width: 350px;
                                height: 95px;
                                li{
                                    width: 65px;
                                    height: 65px;
                                    float: left;
                                    text-align: center;
                                    cursor: pointer;
                                    margin:15px 0 15px 4px;
                                    img{
                                        width: 63px;
                                        height: 63px;
                                    }
                                    
                                }
                                .one{
                                    border: 1px solid #000;
                                }
                            }
                        }
                        #big{
                            width: 400px;
                            height:400px;
                            border: 1px solid #000;
                            position: absolute;
                            left: 350px;
                            top: 10px;
                            display: none;
                            overflow: hidden;
                            margin-left: 10px;
                            img{
                                position: absolute;
                                width: 800px;
                                height: 800px;
                            }
                        }
                        
                    }
                    .msg-right{
                        width: 450px;
                        height: 450px;
                        background: yellowgreen;
                        float: right;
                        
                    }
                }
                .imgdesc{
                    width: 800px;
                    height: 100%;
                    img{
                        width: 800px;
                        display: block;
                    }
                }
            }
            .cbRight{
                width: 200px;
                height: 765px;
                h3{
                    width: 170px;
                    height: 20px;
                    margin: 20px auto 6px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .like{
                    width: 200px;
                    margin-bottom: 10px;
                    height: 320px;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                    .title{
                        width: 200px;
                        height: 20px;
                        padding-top: 8px;
                        text-align: left;
                        font-size: 12px;
                    }
                    .shop{
                        width: 200px;
                        height: 18px;
                        font-size: 12px;
                        color: rgb(153,153,153);
                        margin-top: 10px;
                        text-align: left;
                    }
                    .price{
                        width: 20px;
                        height: 24px;
                        font-size: 14px;
                        padding-top: 5px;
                        color: #3193F3;
                        text-align: left;
                    }
                }
            }
        }
    }
}